assembly/samples/employees/src/main/resources/employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="employee">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int" />
				<xs:element name="firstName" type="xs:string" />
				<xs:element name="lastName" type="xs:string" />
				<xs:element name="income" type="xs:double" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
