assembly/samples/animal/src/main/resources/animal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="Animal">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="xs:string" />
				<xs:element name="Born" type="xs:dateTime" />
			</xs:sequence>
			<xs:attribute name="Id" type="xs:int"/>
			<xs:attribute name="Species" type="species"/>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="species">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Cat" />
			<xs:enumeration value="Dog" />
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
