tests/xjc-simple/src/main/resources/simple-2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema jaxb:version="3.0"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="https://jakarta.ee/xml/ns/jaxb"
	xmlns:s2="http://jvnet.org/higherjaxb/tests/xjc_simple_2"
	targetNamespace="http://jvnet.org/higherjaxb/tests/xjc_simple_2"
>
	<xsd:complexType name="person">
		<xsd:sequence>
			<xsd:element name="child" type="xsd:string" maxOccurs="unbounded"/>
			<xsd:element name="parent" type="xsd:string" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
