tests/xjc-simple/src/main/resources/simple-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema jaxb:version="3.0"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="https://jakarta.ee/xml/ns/jaxb"
	xmlns:s1="http://jvnet.org/higherjaxb/tests/xjc_simple_1"
	targetNamespace="http://jvnet.org/higherjaxb/tests/xjc_simple_1"
>
	<xsd:complexType name="foo">
		<xsd:choice>
			<xsd:sequence>
				<xsd:element name="a" type="xsd:int"/>
				<xsd:element name="b" type="xsd:int"/>
			</xsd:sequence>
			<xsd:sequence>
				<xsd:element name="b" type="xsd:int"/>
				<xsd:element name="c" type="xsd:int"/>
			</xsd:sequence>
		</xsd:choice>
	</xsd:complexType>
</xsd:schema>
