assembly/samples/custom-name/src/main/resources/vehicle.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">

	<element name="com.jaraws.api.Vehicle">
		<complexType>
			<sequence>
				<element name="number" type="string"/>
				<element name="engine" type="string"/>
			</sequence>
		</complexType>
	</element>

</schema>
